body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#header {
  height: auto;
  width: 100%;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerDate {
  align-items: center;
  margin-top: 10px;
}
.headerDate h2 {
  margin-top: 10px;
  font-size: 16px;
  margin-left: 15px;
}
.row2 h2 {
  font-size: 12px;
}
.row2 {
  margin: 0px;
  height: 20px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: start;
}

#today {
  font-size: 2px;
  color: red;
  height: 5px;
  width: auto;
  margin-left: 4px;
  margin-right: 4px;
}
.image1 {
  height: 25px;
}
.image2 {
  height: 20px;
}
.logo img {
position: relative;
right: 0;
padding-left: 40%;
  width: 50%;
  height: auto;

  margin-top: 10px;
}
.longtext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 10px;
  width: auto;
}

.itemBody {
  display: flex;
  margin-top: 0px;
  flex-direction: row;
  justify-content: start;
}

.itemBody3{
  width: 100%;
  margin-left: 50px;
}
  



.itemBody1 {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
  height: 800px;
  width: 30%;
  border: 1px solid #ffffff;
}

.itemBody1 {
  display: flex;
  flex-direction: column;

  height: 700;

  border: 1px solid #ffffff;

  width: 24%;
  margin: 0px;
}

.itemBody2 {
  margin-left: -23%;
 
  font-size: 10px;
  height: 50px;
  width: 800px;

  padding: 5px;
}

.itemBody3 {
  display: flex;
  flex-direction: column;

  margin-top: 1px;
  margin-bottom: 10px;
  margin-left: -25%;
  height: 800px;
  width: 38%;
  border: 1px solid #ffffff;
}

.itemBody11 {
  display: flex;
  flex-direction: row;

  gap: 10px;
  padding-left: 10px;
  height: 23%;

  margin: 0px;
  border-bottom: 1px solid #ffffff;
}

.itemBody11 h2 {
  font-size: 2vw;
  height: auto;
}

.itemBody11 img {
  height: 30%;
 width: auto;
  padding-right: 10%;
  padding-top: 25%;
}

.itemBody12 {
  display: flex;
  justify-content: start;
  font-size: 15px;
  height: auto;

  border-bottom: 1px solid #ffffff;
  align-items: center;
  padding-left: 5px;
  font-weight: 500;
}

.itemBody13 {
  display: flex;
  font-size: 100%;

  height: auto;
  border-bottom: 1px solid #ffffff;
  align-items: center;
  padding-left: 5px;
  font-weight: 500;
}

.itemBody14 {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  height: 40%;

  padding-left: 5px;
  font-weight: 500;
}

.itemBody14 img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 20%;
  padding-left: 40%;
}
.itemBody14 h2 {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
}

#first {
  padding-left: 5px;
}
#second {
  padding-left: 40px;
}
#third {
  padding-left: 55px;
}
#fourth {
  display: flex;
  justify-content: end;
}

.itemBody2 {
  transform: rotate(-90deg);
}

.itembody3A img {
  width: 40%;
  height: auto;
  padding: 30%;
  padding-top: 0px;
}

.itembody3A h2 {
  font-size: 1vw;
  font-weight: 100;
  text-align: center;
  margin-top: -20%;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}
.itemBody3B {

  display: flex;
  flex-direction: row;
  

}

.itembody3B img {
  width: 60%;
  height: auto;

  padding-left: 10px;
}

.itembody3B h1 {
  font-size: 0.5vw;
  font-weight: 50;
  text-align: start;
  margin-top: 20%;

  margin-left: 41%;
}
.sizes {
  margin-left: 50%;
  font-size: 0.5vw;
  font-weight: 50;
}
.itemBody4 img {
  width: 60%;
  height: auto;
  padding: 5%;
  padding-left: 20%;
  text-align: center;
}

.itemBody4 h2 {
  font-size: 0.5vw;
  font-weight: 100;
  text-align: start;
  margin-top: 10px;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  margin: 0px;
  font-weight: 200;
}

.item h2 {
  font-size: 13px;
  margin-left: 0px;
  font-weight: 500;
}

.itemBody4 {
  border: 1px solid #ffffff;
  height: 800px;
  width: 38%;
}

.sizes2 {
  font-size: 10px;
  font-weight: 50;
  margin-left: 75%;
}
.Sizes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5%;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 80px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 10px;

  width: auto;
}

.purchase {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
  border: 1px solid #ffffff;
  font-size: 30px;
}
.purchasePrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20%;
  margin-top: 20px;
}

.itemBody5{
  display: none;
}

@media (min-width:320px) and (max-width: 800px) {
  .itemBody{
  display: flex;
  flex-direction: column;
}
.itemBody1{
  display: none;

 
}
.itemBody2{
  display: none;
  
}
.itemBody3{
  width: 100%;
  height: auto;
  margin-left: 0px;

}
.itembody3A h2 {
  font-size: 5vw;
  font-weight: 100;
  text-align: center;
  margin-top: -20%;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}
.itembody3B h1 {
  font-size: 3vw;
  font-weight: 50;
  text-align: start;
  margin-top: 20%;

  margin-left: 41%;
}
.itembody3B h2{
  font-size: 3vw;
  font-weight: 50;
  text-align: start;
 
  margin-left: 41%;
}
.itemBody4{
  width: 100%;
  height: auto;

}



body,
html {
  background-color: #000000;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.aside-section {
  top: 0;
  bottom: 0;
  position: absolute;
}

.aside-left {
  display: none;
  width: 40%;
  left: 0;
  background-color: #ffffff;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.aside-right {
  width: 100%;
  right: 0;
  background-color: #000000;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  position: fixed; 
}

input[type="checkbox"]:checked ~ aside .aside-right {
  transform: translateX(0%);
}


.aside-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 150px;
  text-align: left;
  padding-left: 50px;
}

.aside-content {
  margin-top: 150px;
  padding: 0 40px;
  position: relative;
  color: white;
  text-align: center;
}

.aside-list li {
  margin-bottom: 20px;
}

.aside-anchor::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #000000;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 3px;
}

.aside-anchor::before {
  border-radius: 3px;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  left: 0;
  height: 3px;
  z-index: 1;
  width: 50%;
  -webkit-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.aside-anchor:hover:before {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.aside-anchor {
  padding-bottom: 7px;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  font-weight: 500;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ aside .aside-left {
  transform: translateY(0%);
}

input[type="checkbox"]:checked ~ aside .aside-right {
  transform: translateX(0%);
}

input[type="checkbox"]:checked ~ label .bar {
  background-color: #fff;
}

input[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

label {
  top: 10px;
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
}

.bar {
  display: block;
  background-color: #ffffff;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color 0.4s ease-in, transform 0.4s ease-in,
    width 0.4s ease-in;
}

h1 {
  margin: 0;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  font-size: 30px;
}

h1 span {
  font-size: 20px;
  display: block;
}

p {
  font-size: 30px;
}

.button {
  display: inline-block;
  background-image: none;
  border: none;
  background-color: transparent;
  padding-bottom: 7px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 7px 50px;
  border: 2px solid white;
}

@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
  .aside-left {
    display: block;
  }

  .aside-right {
    width: 60%;
  }
}
.headerDate{
  margin-left: 15%;
}
.row2{
  margin-left: -23%;

}
}
